@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  color: rgba(var(--text-primary));
  font-family: 'Pretendard';
  transition: background-color ease 0.225s;
}
body {
  background-color: rgba(var(--background));
}
button{
  outline: none;
  border: none;
}

.fs-52px { font-size: 52px; }
.fs-24px { font-size: 24px; }
.fs-18px { font-size: 18px; }
.fs-16px { font-size: 16px; }
.fs-14px { font-size: 14px; }
.fs-12px { font-size: 12px; }
.fw-bold { font-weight: bold; }